<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IssuerURL</key>
	<string>https://htid.hungthinhcorp.com.vn</string>
	<key>LogOutURL</key>
	<string>https://htid.hungthinhcorp.com.vn/oidc/logout</string>
	<key>UserInfoURL</key>
	<string>https://htid.hungthinhcorp.com.vn/oauth2/userinfo?schema=openid</string>
	<key>TokenURL</key>
	<string>https://htid.hungthinhcorp.com.vn/oauth2/token</string>
	<key>AuthURL</key>
	<string>https://htid.hungthinhcorp.com.vn/oauth2/authorize</string>
	<key>RedirectURL</key>
	<string>wso2issample://oauth</string>
	<key>ClientID</key>
	<string>r3VYDvC7o87Xw6xN1HK8K575kC8a</string>
</dict>
</plist>
